@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo à Biblioteca WEB</h1>
    <p>Para conhecer todo o projeto MVC acesse: <a href="https://github.com/alexanderoliveira94/BibliotecaApi">https://github.com/alexanderoliveira94/BibliotecaApi</a>.</p>
    <p>Para conhecer todo o projeto API acesse: <a href="https://github.com/alexanderoliveira94/BibliotecaMvc">https://github.com/alexanderoliveira94/BibliotecaMvc</a>.</p>
</div>
