@model IEnumerable<BibliotecaMvc.Models.EmprestismoDeLivros>

<h2>Realizar Devolução</h2>

<form asp-action="RealizarDevolucao" method="post">
    <div class="form-group">
        <label for="IdTransacao">Selecione a Transação:</label>
        <select class="form-control" id="IdTransacao" name="IdTransacao">
            @foreach (var emprestimo in Model)
            {
                <option value="@emprestimo.IdTransacao">ID @emprestimo.IdTransacao - Livro @emprestimo.IdLivro</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Realizar Devolução</button>
</form>
